html {
  font-size: 22px;
}
body {
  background-color: #333;
  color: rgb(218, 232, 130);
}

a {
  color: rgb(102, 234, 148);
}

a:visited {
  color: rgb(23, 231, 165);
}
a:hover,
a:active {
  color: #b8ccce;
}

fieldset {
  display: inline-block;
  min-width: 0;
  padding: 1em;
}

/* Add table outline and inner borders */
table {
  border: 2px solid #b8ccce;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid #b8ccce;
  padding: 0.5em 1em;
  text-align: left;
}
caption {
  border: 2px solid #b8ccce;
  border-bottom: none;
  padding: 0.5em 1em;
  caption-side: top;
  font-weight: bold;
  background: #333;
  color: rgb(218, 232, 130);
}

/* Add margin/padding for mobile screens so content is not at the edge */
@media (max-width: 600px) {
  body {
    padding-left: 12px;
    padding-right: 12px;
  }
}
